.aboutMeContainer {
    min-height: 100vh;
}

.textBox {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    
}

.textBox p {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.iconSpan {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 15%
}