.contactContainer {
    min-height: 100vh;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconSpan {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%
}